/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #f8f8f8;
    border-bottom: 1px solid #c9c9c9;
    margin: -10px -10px 0 -10px;
}

#logo {
    width: 45px;
    height: 44px;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    margin-right: 15px;
}

header h1 {
    font-size: 24px;
    color: #282828;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.signup-container {
    width: 100%;
    max-width: 600px;
    padding: 20px;
    border: 1px solid #c9c9c9;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
    color: #282828;
}

.signup-container label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="number"],
.signup-container input[type="date"],
.signup-container input[type="password"],
.signup-container select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.signup-container .terms-container,
.signup-container .renewal-container,
.signup-container .email-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.signup-container .terms-container input[type="checkbox"],
.signup-container .renewal-container input[type="checkbox"],
.signup-container .email-container input[type="checkbox"] {
    margin-right: 10px;
}

.signup-container .terms-container label,
.signup-container .renewal-container label,
.signup-container .email-container label {
    font-size: 14px;
    color: #282828;
}

.signup-container .terms-container a {
    color: #7b7b7b;
    text-decoration: none;
    font-weight: bold;
}

.signup-container .terms-container a:hover {
    text-decoration: underline;
}

.signup-container button {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    font-size: 15px;
    color: white;
    background-color: #404340;
    font-weight: bold;
}

footer {
    padding: 10px 0;
    color: #a1a1a1;
    border-top: 1px solid #c9c9c9;
    text-align: center;
}

/* Responsive Design for Mobile */
@media (max-width: 500px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    header h1 {
        text-align: left;
        font-size: 20px;
        margin-top: 10px;
    }

    #logo {
        margin: 3px 15px;
    }
    
    header h1 {
        margin: 3px 15px;
    }

    .signup-container {
        padding: 15px;
    }

    .signup-container input[type="text"],
    .signup-container input[type="email"],
    .signup-container input[type="number"],
    .signup-container input[type="date"],
    .signup-container input[type="password"],
    .signup-container select {
        padding: 8px;
    }

    footer > p {
        font-size: 12px;
    }
}